.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  .login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login__container {
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
  }
  .login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .login__container > form > h5 {
    margin-bottom: 5px;
  }
  .login__container > form > input {
    margin-bottom: 10px;
    height: 30px;
    border-radius: 2.5px;
    background-color: rgb(255, 255, 255);
    outline: none;
    width: 98%;
    border: 1px solid;
  }
  .login__container > form > input:focus {
    border: 2px solid orange;
    box-shadow: rgba(0, 0, 0, 0.103) 0px 10px 20px,
      rgba(0, 0, 0, 0.068) 0px 6px 6px;
  }
  .login__container > p {
    margin-top: 15px;
    font-size: 12px;
  }

  a.link{
    cursor: pointer;
    color:  #1668af;
    text-decoration: none;
  }
  
  a.link:hover{
    color:#e2bb59;
    text-decoration: underline;
  }
  

  .login__signInButton {
 
    width: 100%;
    height: 30px;
    border: 1px solid;
    cursor: pointer;
    background-color: #f0aa85;
    background-image: linear-gradient(
      62deg,
      rgb(243, 207, 117),
      rgb(243, 207, 117),
      rgb(243, 204, 108) 100%
    );
    border-radius: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #aa8935 #9c7e31 #06742e;
    font-weight: bolder;
  }
  .login__registerButton {
    cursor: pointer;
    border-radius: 2.5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    outline: none;
    border: 1px solid darkgray;
    font-weight: bolder;
    color: #111;
  }